@media (min-width: 800px) {
  body {
    background-color: rgba(255, 165, 0, 0.6);
  }
}
.adaptiv-reviews-set, .adaptiv-feutures-set {
  list-style: none;
}

.adaptiv-company-logo {
  text-decoration: none;
}

.adaptiv-reviews-item, .adaptiv-feutures-item {
  color: #fff;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.adaptiv-page-header {
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}

.adaptiv-page-header .adaptiv-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.adaptiv-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .adaptiv-container {
    width: 480px;
  }
}

.adaptiv-company-logo {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: #03a9f4;
  color: #fff;
  border-radius: 4px;
}

.adaptiv-feutures-item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 32px;
}

.adaptiv-feutures-item:nth-child(1) {
  background-color: #F44336;
}

.adaptiv-feutures-item:nth-child(2) {
  background-color: #3f51b5;
}

.adaptiv-feutures-item:nth-child(3) {
  background-color: #4CAf50;
}

.adaptiv-feutures-item:nth-child(4) {
  background-color: #00BCd4;
}

.adaptiv-feutures-item:nth-child(5) {
  background-color: #E91E63;
}

.adaptiv-feutures-item:nth-child(6) {
  background-color: #009688;
}

.adaptiv-reviews-item {
  text-align: center;
  padding: 40px;
  font-size: 48px;
}

.adaptiv-reviews-item:nth-child(1) {
  background-color: #795548;
}

.adaptiv-reviews-item:nth-child(2) {
  background-color: #607d8b;
}

.adaptiv-reviews-item:nth-child(3) {
  background-color: #7B1Fa2;
}

body {
  padding-top: 0;
}

.testion-box {
  width: auto;
  height: 180px;
}

.testion-box__cvintesense-title {
  margin-left: auto;
  margin-right: auto;
  color: #2196f3;
  font-size: 30px;
  scale: 1;
  -webkit-transition: 1000ms linear;
  transition: 1000ms linear;
}

.testion-box__cvintesense-title:hover {
  cursor: pointer;
  color: green;
  scale: 1.5;
}

.test-sass {
  width: 940px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.test-sass__ovefloy {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  background-image: url(../images/Yellow-maple-leaves-background-autumn_2560x1600.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.test-sass__title {
  color: black;
  padding-bottom: 5px;
}

.test-sass__text {
  color: yellowgreen;
  margin-left: 20px;
}

.sass-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sass-selector__previu-oun {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  background-image: url(../images/Screenshot_1.png);
  background-size: contain;
  margin-left: 20px;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-oun-title {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  width: 100%;
  height: 30px;
  background-color: orange;
  opacity: 0.8;
  color: black;
  text-align: center;
}

.sass-selector__previu-two {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_2.png);
  background-size: contain;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-two-title {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  width: 100%;
  height: 30px;
  background-color: orange;
  color: black;
  text-align: center;
  opacity: 0.8;
}

.prewiu-ampersant {
  margin-top: 20px;
  width: 100%;
  height: auto;
  background-color: peachpuff;
  opacity: 0.8;
}
.prewiu-ampersant .prewiu-ampersant__text {
  text-align: center;
  margin-left: 20px;
  color: black;
}

.sass-selector__previu-fry {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_3.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-foo {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_4.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-fei {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_5.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-sixs {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_6.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-seven {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_7.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-acht {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_8.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-neon {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_9.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-zien {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_10.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.prewiu-ampersant__text--two {
  text-align: center;
  margin-left: 20px;
  color: red;
}

.prewiu-ampersant__link {
  padding-left: 20px;
  color: gray;
}

.exzmple-oun {
  width: 420px;
  height: 200px;
  border: 3px solid yellowgreen;
  margin-top: 20px;
  margin-left: 20px;
}

.exzmple-oun_button--oun {
  margin: 15px;
  border: transparent;
  border-radius: 4px;
  padding: 10px;
  background-color: yellow;
  color: rgb(76, 183, 245);
  scale: 1;
}
.exzmple-oun_button--oun:hover, .exzmple-oun_button--oun:focus {
  background-color: rgb(76, 183, 245);
  color: yellow;
  cursor: pointer;
}
.exzmple-oun:hover .exzmple-oun_button--oun {
  scale: 1.5;
  -webkit-transform: 1000ms linear;
          transform: 1000ms linear;
}

.sass-selector__previu-eleven {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_11.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-twelwe {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_12.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.exzmple-two {
  width: 420px;
  height: 200px;
  border: 3px solid yellowgreen;
  margin-top: 20px;
  margin-left: 20px;
}

.exzmple-two__list {
  margin: 10px;
}

.exzmple-two__item {
  color: blue;
  background-color: yellow;
}
.exzmple-two__item:nth-child(3) {
  background-color: blue;
  color: yellow;
}

.sass-selector__previu-thirten {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_13.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-foerten {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_14.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-sixten {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_15.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.modul-list {
  display: block;
  width: auto;
  height: auto;
  border: 2px solid yellow;
}

.modul-list__img {
  width: 100%;
  height: 100%;
}

.Metoda-import-Parshal__list {
  margin: 20px;
  color: purple;
}

.sass-selector__previu-seventen {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_15.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-eighteen {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_15.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu-nineteen {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_15.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.item-font-size {
  text-align: center;
  margin-left: 20px;
  font-size: xx-large;
  color: orangered;
}

.sass-selector__previu-twenty {
  position: relative;
  display: block;
  width: 273px;
  height: 470px;
  margin-left: 20px;
  background-image: url(../images/Screenshot_20.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu--twenty-one {
  position: relative;
  display: block;
  width: 273px;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_21.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu--base, .sass-selector__previu--forty-four, .sass-selector__previu--forty-three, .sass-selector__previu--forty-two, .sass-selector__previu--forty-oun, .sass-selector__previu--forty, .sass-selector__previu--thirty-nine, .sass-selector__previu--thirty-eight, .sass-selector__previu--thirty-seven, .sass-selector__previu--thirty-six, .sass-selector__previu--thirty-five, .sass-selector__previu--thirty-four, .sass-selector__previu--thirty-three, .sass-selector__previu--thirty-two, .sass-selector__previu--thirty-one, .sass-selector__previu--thirty, .sass-selector__previu--twenty-nine, .sass-selector__previu--twenty-eight, .sass-selector__previu--twenty-seven, .sass-selector__previu--twenty-six, .sass-selector__previu--twenty-five, .sass-selector__previu--sixteen, .sass-selector__previu--twenty-three, .sass-selector__previu--twenty-two {
  position: relative;
  display: block;
  width: 273px;
  height: 300px;
  margin-left: 20px;
  margin-top: 40px;
  border: 2px solid yellow;
}

.sass-selector__previu--twenty-two {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_22.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--twenty-three {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_23.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--sixteen {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_24.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--sixteen {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_16.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--twenty-five {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_25.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.text-paragraf {
  margin-top: 10px;
  font-size: 20px;
  color: blueviolet;
}

.sass-selector__previu--twenty-six {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_26.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--twenty-seven {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_27.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.item-font-size--average {
  font-size: 20px;
  color: blueviolet;
}

.item-font-size--average-fo-mixin {
  font-size: 20px;
  color: blue;
}

.sass-selector__previu--twenty-eight {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_28.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--twenty-nine {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_29.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_30.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty-one {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_31.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty-two {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_32.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty-three {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_33.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty-four {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_34.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty-five {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_35.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty-six {
  margin-bottom: 15px;
  height: 70px;
  background-image: url(../images/Screenshot_36.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty-seven {
  margin-bottom: 15px;
  height: 70px;
  background-image: url(../images/Screenshot_37.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty-eight {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_38.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--thirty-nine {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_39.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--forty {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_40.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--forty-oun {
  margin-bottom: 15px;
  background-image: url(../images/Screenshot_41.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--forty-two {
  margin-bottom: 15px;
  height: 100px;
  background-image: url(../images/Screenshot_42.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--forty-three {
  margin-bottom: 15px;
  height: 100px;
  background-image: url(../images/Screenshot_43.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-selector__previu--forty-four {
  margin-bottom: 15px;
  height: 100px;
  background-image: url(../images/Screenshot_44.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-facebook {
  background-image: url(../images/facebook.cvg);
}

.icon-instagram {
  background-image: url(../images/instagram.cvg);
}

.icon-linkedin {
  background-image: url(../images/linkedin.cvg);
}

.icon-twitter {
  background-image: url(../images/twitter.cvg);
}

.container-nine {
  margin-top: 20px;
}

.adaptive {
  width: 100%;
  height: auto;
  background-color: rgba(250, 235, 215, 0.7);
  margin-top: 15px;
}

.adaptive__cvintesense {
  width: 100%;
  height: auto;
  background-color: rgba(250, 235, 215, 0.7);
  margin-top: 15px;
}

.adaptive__cvintesense-item {
  font-size: 15px;
  color: brown;
}

.adaptive__item {
  font-size: 25px;
  text-align: center;
  color: green;
  margin-bottom: 0px;
}

.adaptive__item--title {
  font-size: 35px;
  text-align: center;
  color: red;
  margin-bottom: 0px;
}

.adaptive__image--oun {
  width: 770px;
  height: 870px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid yellowgreen;
}

.adaptive__image--auto {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid yellowgreen;
}

.interval {
  width: auto;
  height: 20px;
}

.adaptive__link {
  margin-top: 20px;
  margin: 20px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: gray;
  background-color: orange;
  border-radius: 5px;
  scale: 1;
  -webkit-transition: 1000ms linear;
  transition: 1000ms linear;
}

.adaptive__link:hover {
  scale: 1.5;
  background-color: yellow;
  color: rgba(0, 174, 255, 0.939);
}

.link_finish {
  padding: 20px;
  font-size: 15px;
  color: gray;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */