.control-link{
    margin-left: 10px;
    color: orange;
}
.control-link-time{
    color: red;
    background-color: aquamarine;
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;

}

.control-link-title{
color: white;
}