.reviews{

@media (max-width: 767px) {
    display: none;
}
}

.adaptiv-reviews-set{
    @extend %list;
    display: flex;
   

}

.adaptiv-reviews-item{
    text-align: center;
    padding: 40px;
    // color: #fff;
    @extend %text-color;
    font-size: 48px;
    width: 33%;
    @media screen and (min-width: 1140px){
        font-size: 64px;
       
        
        
    }

}

$colors: "#795548", "#607d8b", "#7B1Fa2";

@include colorize($colors, ".adaptiv-reviews-item");