.title-style-oun{
    font-size: 35px;
    color: brown;

}
.adaptiv-section-title{
    text-align:center;
}
.title-color-wheat{
    color: white;
}
.title-position-center{
text-align: center;

}
.List__box{
    margin-left: 10px;
}