.adaptive__image--oun {
    width: 770px;
    height: 870px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    border: 1px solid yellowgreen;
}

.adaptive__image--two {
    width: 400px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    border: 1px solid yellowgreen;
}
.adaptive__image--chry {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    border: 1px solid yellowgreen;
}
.adaptive__image--five {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    border: 1px solid yellowgreen;
}


.adaptive__image--auto {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
    margin-bottom: 30px;

    border: 1px solid yellowgreen;
}
