@media (min-width:800px){
    body{
    // background-color:orange;
    background-color: rgba(252, 218, 146, 0.952);
}
}
%list{
    list-style: none;
}
%link{
    text-decoration: none;
}
%text-color{
    color:#fff;
}
.container--flex{
display: flex;
align-items: center;
justify-content: center;

}