:root{
    --color-text:  white;
}

.Blok-one{
    background:gray ;
/* background-image: url(../images/fabric-background.jpg); */
    
    margin-left: 20px;
    margin-right: 20px;
    
}


.main-title{
    margin-left: 100px;
    margin-right: auto;
    color: white;
    
    
}
.Title-one{
    margin-left: 100px;
    margin-right: auto;
    color: white;

}

.Title-two{
    color: white;
}

.Title-Epizod{
margin-left: 30px;

}

.Kvintesense{
color: white;

}

.WorkS-story{
    margin-left: 15px;
color: white;

}

.Work-Etap{
    color: white;
}
.Work-Etap a {
    color: yellowgreen;
}

.Work-Etap-HTTPS{
    color: aqua;
}

.footer-one {
    background-color: rgb(71, 64, 56);  
    margin-left: 20px;
    margin-right: 20px; 
}

.address-one{
    color: var(--color-text);
/* color: white; */
/* margin-left: auto; */
margin:auto ;

}

.HR-one{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

}
.title-student{
    font-size: 40px;
    color: orangered;
    margin-left: 50px;

}
.useful-links{
    font-size: 30px;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: 15px;
    color: white; 
    text-decoration: underline;  
}
.final-img{
    margin-top: 1px;
}

.title-final-img{
    margin-bottom: 5px;
    font-size: 35px;
}


